<div id="<%= dom_id family %>">
  <p>
    <strong>First name:</strong>
    <%= family.First_Name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= family.Last_Name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= family.Email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= family.Phone_Number %>
  </p>

</div>
