
<div>
  <img class="full-width" <%=image_tag("2.png")%>
</div>
<div class="row flex-container" style="background-color:white; padding-right:10%  ; padding-left:10%; padding-top:5%; padding-bottom:20%"> 
<div class="column column-md-5 column-lg-4 column-lg-offset-1 vertical-middle text-n0 s0 between"> 
<div class="component component--heading"> 


<h5 class="heading" style="color:#0a7ac2; font-size: 3rem;"> Welcome To KiteMania Riders' Registration Portal </h5> 
</div> 

<br>
<div>
<div class="component component--heading" style="padding-top:8px;"> 
<h5 class="heading" style="color:#0a7ac2; font-size: 2rem;"> Please Choose your Descipline </h5> 
</div> 

  <tr>
  <%= link_to 'Big Air [Expert]', "https://accept.paymobsolutions.com/standalone?ref=p_3ap", class:"btn btn-secondary" %> 
  </tr>
  <br/>
  
   <br/>
  <tr>
  <%= link_to 'Big Air [Advanced]', "https://accept.paymobsolutions.com/standalone?ref=p_3eS", class:"btn btn-secondary" %> 
  </tr>
   <br/>
  
   <br/>
  <tr>
  <%= link_to 'Big Air [Females]', "https://accept.paymobsolutions.com/standalone?ref=p_3e7", class:"btn btn-secondary" %> 
  </tr>
   <br/>
  
   <br/>
    <tr>
  <%= link_to 'Big Air [Under 16]', "https://accept.paymobsolutions.com/standalone?ref=p_3en", class:"btn btn-secondary" %> 
  </tr>
<br/>
     <br/>
    <tr>
  <%= link_to 'WindSurfing [Slalom]', "https://accept.paymobsolutions.com/standalone?ref=p_3et", class:"btn btn-secondary" %> 
  </tr>
<br/>
     <br/>
    <tr>
  <%= link_to 'WindSurfing [FreeStyle]', "https://accept.paymobsolutions.com/standalone?ref=p_3ek", class:"btn btn-secondary" %> 
  </tr>
  <br/>
     <br/>
    <tr>
  <%= link_to 'Sailing', "https://accept.paymobsolutions.com/standalone?ref=p_3eR", class:"btn btn-secondary" %> 
  </tr>
</div>

    </span></div></div></div></div> 

