<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Name, style: "display: block; color:Orange;" %>
    <%= form.text_field :Name %>
  </div>

  <div>
    <%= form.label :'Year of Birth', style: "display: block; color:Orange;" %>
<%= form.select :year, (2000..Time.now.year).to_a, :include_blank => {:year => "Select year"} %>
  </div>

  <div>
    <%= form.label :Product, style: "display: block; color:Orange;" %>
    <%= form.select :PC, [['Select', nil], ['Expert','Expert'],['Advanced', 'Advanced'],['Women', 'Women'],['Under 16', 'Unde 16']] %>
  </div>

  <div>
    <%= form.label :Type, style: "display: block; color:Orange;" %>
    <%= form.select :Type, [['Select', nil], ['Early Bird Registration [400 EGP]','early']] %>  </div>

  <div>
    <%= form.label :Description, style: "display: block; color:Orange;" %> 
    <%= form.text_field :Description %>
  </div>

  <div>
    <%= form.text_field :user_id, id: :ticket_user_id, value: current_user.id, type: :hidden %>
  </div>
  
</br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
