<div id="<%= dom_id ticket %>" style="color:white">
  <p>
    <strong>User:</strong>
    <%= ticket.User %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= ticket.Date %>
  </p>

  <p>
    <strong>Pc:</strong>
    <%= ticket.PC %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= ticket.Type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.Description %>
  </p>
  

</div>
