<div id="<%= dom_id car %>">
  <p>
    <strong>First name:</strong>
    <%= car.First_Name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= car.Last_Name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= car.Email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= car.Phone_Number %>
  </p>

</div>
